@font-face {
  font-family: 'Fashion Victim';
  src: url(./fonts/fashion-victim.woff2) format('woff2');
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");


* {
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 14, 14);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 850px;
  padding-bottom: 60px;
  background-color: #000;
}

header {
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: 360px;
  padding-top: 120px;
}

.site-title {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: 0 auto;
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
}

.product {
  margin: -5rem auto 0;
  padding: 1rem 2rem;
  width: 85%;
  background-color: #141518;
  display: flex;
  justify-content: space-between;
}

.product__image {
  width: 6rem;
  height: auto;
  fill: #a6a6a6;
  stroke: #000;
  stroke-width: 2;
}

.product__colors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.colors {
  display: flex;
  gap: 15px;
  list-style: none;
  padding-inline-start: 0;
  font-size: 0;
}

.colors__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.colors__button {
  width: 40px;
  height: 40px;
  border: 2px solid whitesmoke;
  border-radius: 40px;
}

.colors__button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.clr-white {
  background-color: white;
}

.clr-black {
  background-color: rgb(0, 0, 0);
}

.clr-red {
  background-color: rgb(152, 20, 20);
}

.clr-blue {
  background-color: rgb(109, 173, 209);
}
.colors__name {
  font-size: 14px;
  text-align: center;
}

.order {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 32px;
}

.order-btn {
  font-size: 14px;
  padding: 10px 50px;
  background-color: #141518;
  color: white;
  border: 2px solid whitesmoke;
  border-radius: 40px;
}

.order-btn:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
